a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}
