/* LAYOUT */

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: var(--blue9);
}

main {
  /* background-color: var(--blue5); */
  background: linear-gradient(to bottom, var(--blue6) 0%, var(--blue5) 100px, var(--blue5) 100%);
  display: flex;
  flex-direction: row;
  color: var(--grey1);
}

/* GENERAL TYPOGRAPHY */

a {
  text-decoration: none;
}
