/* Header */

header {
  background-color: var(--orange1);
  background: linear-gradient(to bottom, var(--orange3), var(--orange5));
  display: flex;
  /* padding: 0 var(--page-gutter); */
  padding: 0;
  align-items: stretch;
  justify-content: space-between;
  height: 70px;
}

header .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--page-gutter);
}

header h1 {
  color: var(--burnt-orange8);
  margin: 0;
  line-height: 100%;

  font-size: 2em;
}

header h1 a {
  color: var(--burnt-orange8);
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  height: 100%;
  gap: 2px;
  margin-right: var(--page-gutter);
}

header nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav a {
  color: var(--burnt-orange8);
  font-size: 120%;
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  padding: 0 0.8em;
}

header nav a:hover {
  color: var(--burnt-orange6);
  text-decoration: underline;
  background: linear-gradient(to bottom, var(--orange1), var(--orange3));
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
    height: auto;
  }

  header .brand {
    grid-area: title;
  }

  header h1 {
    font-size: 1.5em;
    word-spacing: 30000px;
  }

  header .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 20px 30px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }

  header .navicon {
    background-color: var(--burnt-orange8);
    display: block;
    height: 3px;
    width: 24px;
    position: relative;
  }

  header .navicon:before {
    top: 7px;
  }

  header .navicon:after {
    top: -7px;
  }

  header .navicon:before,
  header .navicon:after {
    background-color: var(--burnt-orange8);
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }

  header > nav.menu {
    width: 100vw;
    grid-area: nav;
    max-width: unset;
    height: auto;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
  }

  header > nav.menu > ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
  }

  header > nav.menu > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  header > nav.menu > ul > li > a {
    line-height: 100%;
    min-height: 2em;
  }

  header > nav.menu > ul > li > a > span {
    margin: 0.3em 0.5em;
    display: inline-block;
  }

  header > .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  header > .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  header > .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  header > .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  header > .menu-btn:checked ~ .menu-icon .navicon:before,
  header > .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}
