/* Side nav */

main .with-side-nav {
  display: flex;
  flex-direction: row;
  color: var(--grey1);
}

nav.side-nav {
  background-color: var(--burnt-orange5);
  background: linear-gradient(to bottom, var(--burnt-orange6) 0%, var(--burnt-orange5) 100px, var(--burnt-orange5) 100%);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

nav.side-nav ul {
  list-style: none;
  padding: 0;
}

nav.side-nav ul ul {
  margin-left: 1em;
}

nav.side-nav a {
  color: var(--orange5);
  display: block;
  padding: 3px 1em;
}

nav.side-nav ul ul a {
  border-left: 1px solid var(--burnt-orange6);
}

nav.side-nav a:hover {
  background-color: var(--burnt-orange4);
  color: var(--orange3);
}

nav.side-nav a.active {
  background-color: var(--burnt-orange8);
}

.with-side-nav > .content {
  width: 100%;
}

@media screen and (max-width: 480px) {
  main .with-side-nav {
    flex-direction: column;
  }

  .with-side-nav nav.side-nav {
    padding-top: 0;
    padding-bottom: 0;
  }
}
