/* Article */

article.home {
  padding: var(--page-gutter);
}

article.docs-page {
  width: 100%;
  padding: var(--page-gutter);
  min-height: 80vh;
}

article nav.between-pages {
  margin-top: 2em;
  border-top: 3px dashed black;
  padding-top: 1em;
  max-width: var(--main-content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article nav.between-pages a {
  font-size: 120%;
  text-decoration: none;
}

article nav.between-pages a:hover {
  text-decoration: underline;
}

/* ARTICLE TYPOGRAPHY */

article > *:first-child {
  margin-top: 0;
}

article > *:last-child {
  margin-bottom: 0;
}

article h1 {
  margin-bottom: 1.5rem;
}

article p {
  max-width: var(--main-content-width);
}

article ul,
article ol {
  max-width: calc(var(--main-content-width) * 0.8);
}

article a {
  text-decoration: underline;
}

article code {
  font-size: 1rem;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 3px;
}

article p code {
  padding: 0 0.4rem;
}

article pre {
  border-radius: 3px;
}

article aside {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 3px;
  max-width: calc(var(--main-content-width) * 0.9);
}

article aside > *:first-child {
  margin-top: 0;
}

article aside > *:last-child {
  margin-bottom: 0;
}

article section.hero {
  font-size: 150%;
  max-width: var(--main-content-width);
  font-style: italic;
}

article aside.user-story {
  border: 2px solid var(--orange3);
  padding: 1rem;
  border-radius: 8px;
  max-width: calc(var(--main-content-width) * 0.9);
  color: var(--grey4);
  display: grid;
  grid-template-columns: 10rem 2fr;
  gap: 0.4em;
}

article aside.user-story > p {
  margin-top: 0;
  margin-bottom: 0;
}

article aside.user-story em {
  color: var(--grey3);
  text-align: right;
  padding-right: 0.5rem;
}

article aside.user-story strong {
  color: var(--grey1);
  font-size: 120%;
  font-weight: 500;
}

article section.image-section {
  max-width: var(--main-content-width);
  margin-top: 1em;
}

article section.image-section p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  article aside.user-story {
    grid-template-columns: 1fr;
    gap: 0.2em;
  }

  article aside.user-story em {
    text-align: left;
    padding-right: 0;
    padding-top: 0.5rem;
  }

  article aside.user-story em:first-child {
    padding-top: 0;
  }
}
