.roadmap-page {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 1em var(--page-gutter) 2em var(--page-gutter);
  gap: 2em;
}

.roadmap-page .section-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Items List Layout */

.roadmap-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  max-width: var(--main-content-width);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2em);
  padding: 0 1em;
}

.roadmap-items:before {
  content: "";
  position: absolute;
  left: 50%;
  border-right: 2px dashed var(--orange3);
  height: 100%;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .roadmap-items:before {
    left: -1px;
  }
}

/* Item Typography */

a.roadmap-item {
  text-decoration: none;
  color: inherit;
  min-width: 200px;
  max-width: 500px;
  background-color: var(--blue7);
  border: 2px solid var(--blue9);
  border-radius: 8px;
  color: var(--grey2);
}

a.roadmap-item:hover {
  text-decoration: none;
  color: inherit;
  background-color: var(--blue6);
  border-color: var(--orange3);
}

.roadmap-item .details {
  padding: 0.8em 1em 1em 1em;
}

.roadmap-item h2 {
  font-size: 1.2em;
}

/* Roadmap Item Status */

.roadmap-item-row.status-current a.roadmap-item {
  border-color: var(--burnt-orange4);
  background-color: var(--blue8);
}

.roadmap-item-row.status-current a.roadmap-item:hover {
  background-color: var(--blue7);
  border-color: var(--burnt-orange3);
}

.roadmap-item-row.status-current .status-indicator {
  background-color: var(--burnt-orange4);
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3px;
  padding-bottom: 5px;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

.roadmap-item-row.status-current a.roadmap-item:hover .status-indicator {
  background-color: var(--burnt-orange3);
}

/* Item Row Leaf Node */

.roadmap-items > .roadmap-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  z-index: 2;
}

.roadmap-items .roadmap-item-row.not-section .roadmap-item-container {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 481px) {
  .roadmap-items > .roadmap-item-row.not-section {
    justify-content: space-between;
    gap: 50px;
  }

  .roadmap-items > .roadmap-item-row.not-section:nth-child(odd)::after {
    content: "";
    width: 50%;
  }

  .roadmap-items > .roadmap-item-row.not-section:nth-child(even)::before {
    content: "";
    width: 50%;
  }

  .roadmap-items > .roadmap-item-row.not-section:nth-child(odd)::before,
  .roadmap-items > .roadmap-item-row.not-section:nth-child(even)::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    height: 12px;
    width: 12px;
    margin-left: -5px;
    background-color: var(--orange3);
    border-radius: 999px;
  }

  .roadmap-items > .roadmap-item-row.not-section .roadmap-item-container {
    width: 50%;
  }

  .roadmap-items .roadmap-item-row.not-section:nth-child(odd) .roadmap-item-container {
    justify-content: flex-end;
  }

  .roadmap-items .roadmap-item-row.not-section:nth-child(even) .roadmap-item-container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .roadmap-items {
    padding-left: var(--page-gutter);
  }
}

/* Section Item Row */

.roadmap-items > .roadmap-item-row.is-section {
  justify-content: center;
}

.roadmap-items > .roadmap-item-row.is-section .roadmap-item-container {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Roadmap item detail page */

article.roadmap-item-page {
  width: 100%;
  padding: var(--page-gutter);
  min-height: 80vh;
}
