.roadmap-page {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 1em var(--page-gutter) 2em var(--page-gutter);
  gap: 2em;
}

.roadmap-page .section-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Items List Layout */

.roadmap-items {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 2em;
  max-width: var(--main-content-width);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0;
}

.roadmap-items:before {
  content: "";
  position: absolute;
  left: 50%;
  border-right: 2px dashed var(--orange3);
  height: 100%;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .roadmap-items:before {
    left: -1px;
  }
}

/* Item Typography */

a.roadmap-item {
  text-decoration: none;
  color: inherit;
  min-width: 200px;
  max-width: 500px;
  background-color: var(--blue7);
  border: 2px solid var(--blue9);
  border-radius: 8px;
  color: var(--grey2);
}

a.roadmap-item:hover {
  text-decoration: none;
  color: inherit;
  background-color: var(--blue6);
  border-color: var(--blue8);
}

.roadmap-item .details {
  padding: 0.8em 1em 1em 1em;
}

.roadmap-item h2 {
  font-size: 1.2em;
}

/* Roadmap Item Status */

.roadmap-item-row .status-indicator {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3px;
  padding-bottom: 5px;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

.roadmap-item-row.status-in-progress {
  --status-color: var(--orange4);
  --status-color-highlight: var(--orange3);
  --status-color-text: black;
}

.roadmap-item-row.status-testing {
  --status-color: var(--green8);
  --status-color-highlight: var(--green7);
  --status-color-text: var(--grey0);
}

.roadmap-item-row.has-status a.roadmap-item {
  border-color: var(--status-color);
}

.roadmap-item-row.has-status .status-indicator {
  background-color: var(--status-color);
  color: var(--status-color-text);
}

.roadmap-item-row.has-status a.roadmap-item:hover {
  border-color: var(--status-color-highlight);
}

.roadmap-item-row.has-status a.roadmap-item:hover .status-indicator {
  background-color: var(--status-color-highlight);
}

/* Timeline dot */

.roadmap-items > .roadmap-item-row::before {
  content: "";
  height: 12px;
  width: 12px;

  background-color: var(--status-color, var(--orange3));
  border-radius: 999px;
  z-index: 3;
}

/* Item Row Leaf Node */

.roadmap-items > .roadmap-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  z-index: 2;
}

.roadmap-items .roadmap-item-row.not-section .roadmap-item-container {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 481px) {
  .roadmap-items > .roadmap-item-row.not-section::before {
    left: calc(50% - 5px);
    top: 50%;
    position: absolute;
  }

  .roadmap-items > .roadmap-item-row.not-section {
    width: calc(50% - var(--page-gutter));
    justify-content: flex-start;
  }

  .roadmap-items > .roadmap-item-row.not-section:nth-child(odd) {
    padding-right: calc(50% + var(--page-gutter));
  }

  .roadmap-items > .roadmap-item-row.not-section:nth-child(even) {
    padding-left: calc(50% + var(--page-gutter));
  }
}

@media screen and (max-width: 480px) {
  .roadmap-items > .roadmap-item-row.not-section {
    padding-left: var(--page-gutter);
    width: calc(100% - var(--page-gutter));
  }

  .roadmap-items > .roadmap-item-row.not-section::before {
    position: absolute;
    left: -5px;
    top: 50%;
  }
}

/* Section Item Row */

.roadmap-items > .roadmap-item-row.is-section {
  flex-direction: column;
  align-items: center;
}

.roadmap-items > .roadmap-item-row.is-section .roadmap-item-container {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .roadmap-items > .roadmap-item-row.is-section::before {
    margin-bottom: -5px;
  }
}

@media screen and (max-width: 480px) {
  .roadmap-items > .roadmap-item-row.is-section {
    padding-left: var(--page-gutter);
    width: calc(100% - var(--page-gutter));
  }

  .roadmap-items > .roadmap-item-row.is-section::before {
    position: absolute;
    left: -5px;
    top: 50%;
  }
}

/* Roadmap item detail page */

article.roadmap-item-page {
  width: 100%;
  padding: var(--page-gutter);
  min-height: 80vh;
}
