.home {
}

article.home-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-size: 1.6rem;
}

article.home-page section {
  padding-top: 2rem;
  padding-bottom: 2rem;

  width: 100%;
}

article.home-page section .section-content {
  max-width: var(--main-content-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-gutter);
  padding-right: var(--page-gutter);
}

article.home-page section.hero {
  max-width: 100%;
  font-size: 100%;
  font-style: normal;
  background: linear-gradient(to bottom, var(--burnt-orange5), var(--burnt-orange4));
}

article.home-page section.hero p {
  font-size: 1.8rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

article.home-page section.image-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: stretch;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--extended-content-width);
}

article.home-page section.image-section .section-content {
  text-align: right;
  margin-right: 0;
  margin-left: 0;
}

article.home-page section.image-section .section-image {
  text-align: left;
  max-width: 500px;
  width: 100%;
}

article.home-page section.image-section .section-image img {
  width: 100%;
  height: auto;
}

article.home-page section.image-section.side-left {
  flex-direction: row-reverse;
}

article.home-page section.image-section.side-left .section-content {
  text-align: left;
}

article.home-page section.image-section.side-left .section-image {
  text-align: right;
}

article.home-page section.on-orange {
  background-color: var(--orange3);
  color: #111111;
}

article.home-page section.on-orange h2 {
  color: var(--burnt-orange4);
}

article.home-page section.on-orange a {
  color: var(--burnt-orange4);
}

article.home-page h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  color: var(--orange1);
}

article.home-page strong {
  color: var(--orange3);
}

@media screen and (max-width: 480px) {
  article.home-page section.hero p {
    font-size: 1.4rem;
    max-width: 100%;
  }

  article.home-page h1 {
    font-size: 2.4rem;
    line-height: 1.4;
  }

  article.home-page section.image-section {
    flex-direction: column;
  }

  article.home-page section.image-section.side-left {
    flex-direction: column;
  }
}
