.centered-post {
  display: flex;
  flex-direction: row;
  gap: calc(var(--page-gutter) * 2);
  padding: var(--page-gutter);
}

.centered-post .left-sidebar {
  text-align: right;
}

.centered-post .left-sidebar,
.centered-post .right-sidebar {
  flex: 1 1 0;
  min-width: 0;
  margin-top: 1em;
}

.centered-post article {
  flex: 0 1 auto;
  width: min(100%, 700px);
  margin: 0 0 2em 0;
  padding: 0;
}

.blog-page {
  max-width: 700px;
}

.blog-page .article-header {
  margin-bottom: 2em;
}

.blog-page .article-header h1 {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .centered-post {
    flex-direction: column;
    align-items: center;
  }

  .centered-post .left-sidebar,
  .centered-post .right-sidebar,
  .centered-post article {
    width: 100%;
    max-width: 700px;
    flex: none;
  }

  .centered-post .left-sidebar {
    text-align: left;
  }
}

/* LIST */

.blog-list-page {
  padding: var(--page-gutter);
}

.blog-list-page > .contents {
  max-width: 700px;
  margin: 0 auto;
}

.blog-list-page .header {
  margin-bottom: 1em;
}

.rss-link {
  display: flex;
  gap: 0.2em;
}

.rss-icon {
  width: 1.5em;
  height: 1.5em;
  fill: var(--blue2);
}

.post-list a.post-link {
  display: block;
  margin-bottom: 2em;
  background-color: var(--blue4);
  border: 2px solid var(--blue8);
  padding: 1rem;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.post-list a.post-link:hover {
  background-color: var(--blue3);
  border-color: var(--blue7);
}

.post-list a.post-link h2 {
  margin: 0;
}

.post-list a.post-link .post-header {
  margin-bottom: 0.75em;
}

.post-list a.post-link .post-date {
  font-size: 0.9em;
  color: var(--blue1);
}

.post-list .post-summary {
}
