body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #183b4e;
}

header {
  background-color: var(--orange1);
  background: linear-gradient(to bottom, var(--orange3), var(--orange5));
  display: flex;
  padding: 1rem;
}

header h1 {
  color: black;
}

main {
  background-color: #355c7d;

  display: flex;
  gap: 1rem;
  color: #eee;
}

nav.side-nav {
  background-color: #8a2b13;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

nav.side-nav ul {
  list-style: none;
  padding: 0;
}

nav.side-nav ul ul {
  border-left: 10px solid black;
}

nav.side-nav a {
  color: #dda853;
}

footer {
  display: flex;
  padding: 1rem;
  color: white;
}

a {
  text-decoration: none;
}

/* TYPOGRAPHY */

article p {
  max-width: 800px;
}

article ul,
article ol {
  max-width: 700px;
}

article a {
  text-decoration: underline;
}

article code {
  font-size: 1rem;
  display: inline-block;
  padding: 0 0.3rem;
  border-radius: 3px;
}

/* COLOUR SECTION SPECIFIC */

article.blue1 {
  color: #eee;
}

article.blue1 h1 {
  color: var(--orange2);
}

article.blue1 h2 {
  color: var(--orange3);
}

article.blue1 h3 {
  color: var(--orange4);
}

article.blue1 h4 {
  color: var(--orange5);
}

article.blue1 strong {
  color: var(--orange6);
}

article.blue1 em {
  color: #ccc;
}

article.blue1 a {
  color: var(--orange4);
}

article.blue1 code {
  background-color: #183b4e;
}

article ul {
  color: #ccc;
}
