/* LAYOUT */

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: var(--blue9);
}

header {
  background-color: var(--orange1);
  background: linear-gradient(to bottom, var(--orange3), var(--orange5));
  display: flex;
  padding: 1rem;
}

header h1 {
  color: black;
  margin: 0;
}

main {
  /* background-color: var(--blue5); */
  background: linear-gradient(to bottom, var(--blue6) 0%, var(--blue5) 100px, var(--blue5) 100%);
  display: flex;
  flex-direction: row;
  color: var(--grey1);
}

/* Side nav */

nav.side-nav {
  background-color: var(--burnt-orange5);
  background: linear-gradient(to bottom, var(--burnt-orange6) 0%, var(--burnt-orange5) 100px, var(--burnt-orange5) 100%);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

nav.side-nav ul {
  list-style: none;
  padding: 0;
}

nav.side-nav ul ul {
  margin-left: 1em;
}

nav.side-nav a {
  color: var(--orange5);
  display: block;
  padding: 3px 1em;
}

nav.side-nav ul ul a {
  border-left: 1px solid var(--burnt-orange6);
}

nav.side-nav a:hover {
  background-color: var(--burnt-orange4);
}

/* Footer */

footer {
  display: flex;
  padding: 1rem;
  color: var(--grey3);
}

/* Article */

article.docs-page {
  width: 100%;
  padding: 1.5rem;
  min-height: 80vh;
}

article nav.between-pages {
  margin-top: 2em;
  border-top: 3px dashed black;
  padding-top: 1em;
  max-width: var(--main-content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article nav.between-pages a {
  font-size: 120%;
  text-decoration: none;
}

article nav.between-pages a:hover {
  text-decoration: underline;
}

/* GENERAL TYPOGRAPHY */

a {
  text-decoration: none;
}

/* ARTICLE TYPOGRAPHY */

article > *:first-child {
  margin-top: 0;
}

article > *:last-child {
  margin-bottom: 0;
}

article h1 {
  margin-bottom: 1.5rem;
}

article p {
  max-width: var(--main-content-width);
}

article ul,
article ol {
  max-width: calc(var(--main-content-width) * 0.8);
}

article a {
  text-decoration: underline;
}

article code {
  font-size: 1rem;
  display: inline-block;
  padding: 0 0.3rem;
  border-radius: 3px;
}

article aside {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 3px;
  max-width: calc(var(--main-content-width) * 0.9);
}

article aside > *:first-child {
  margin-top: 0;
}

article aside > *:last-child {
  margin-bottom: 0;
}

article section.hero {
  font-size: 150%;
  max-width: var(--main-content-width);
  font-style: italic;
}

/* COLOUR SECTION SPECIFIC */

article.blue1 {
  color: #eee;
}

article.blue1 h1 {
  color: var(--orange2);
}

article.blue1 h2 {
  color: var(--orange3);
}

article.blue1 h3 {
  color: var(--orange4);
}

article.blue1 h4 {
  color: var(--orange5);
}

article.blue1 strong {
  color: var(--orange6);
}

article.blue1 em {
  color: var(--grey2);
}

article.blue1 a {
  color: var(--orange4);
}

article.blue1 a:hover {
  color: var(--orange3);
}

article.blue1 code {
  background-color: var(--blue9);
}

article.blue1 ul {
  color: var(--grey2);
}

article.blue1 aside {
  background-color: var(--blue7);
  border-color: var(--blue9);
  color: var(--grey2);
}

article nav.between-pages {
  border-color: var(--burnt-orange4);
}
