/* LAYOUT */

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: var(--blue9);
}

main {
  /* background-color: var(--blue5); */
  background: linear-gradient(to bottom, var(--blue6) 0%, var(--blue5) 100px, var(--blue5) 100%);
  display: flex;
  flex-direction: row;
  color: var(--grey1);
}

/* Side nav */

nav.side-nav {
  background-color: var(--burnt-orange5);
  background: linear-gradient(to bottom, var(--burnt-orange6) 0%, var(--burnt-orange5) 100px, var(--burnt-orange5) 100%);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

nav.side-nav ul {
  list-style: none;
  padding: 0;
}

nav.side-nav ul ul {
  margin-left: 1em;
}

nav.side-nav a {
  color: var(--orange5);
  display: block;
  padding: 3px 1em;
}

nav.side-nav ul ul a {
  border-left: 1px solid var(--burnt-orange6);
}

nav.side-nav a:hover {
  background-color: var(--burnt-orange4);
  color: var(--orange3);
}

nav.side-nav a.active {
  background-color: var(--burnt-orange8);
}

@media screen and (max-width: 480px) {
  nav.side-nav {
    display: none;
  }
}

/* Header */

header {
  background-color: var(--orange1);
  background: linear-gradient(to bottom, var(--orange3), var(--orange5));
  display: flex;
  /* padding: 0 var(--page-gutter); */
  padding: 0;
  align-items: stretch;
  justify-content: space-between;
  height: 70px;
}

header .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--page-gutter);
}

header h1 {
  color: var(--burnt-orange8);
  margin: 0;
  line-height: 100%;

  font-size: 2em;
}

header h1 a {
  color: var(--burnt-orange8);
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  height: 100%;
  gap: 2px;
  margin-right: var(--page-gutter);
}

header nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav a {
  color: var(--burnt-orange8);
  font-size: 120%;
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  padding: 0 0.8em;
}

header nav a:hover {
  color: var(--burnt-orange6);
  text-decoration: underline;
  background: linear-gradient(to bottom, var(--orange1), var(--orange3));
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
    height: auto;
  }

  header .brand {
    grid-area: title;
  }

  header h1 {
    font-size: 1.5em;
    word-spacing: 30000px;
  }

  header .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 30px 20px 30px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }

  header .navicon {
    background-color: var(--burnt-orange8);
    display: block;
    height: 3px;
    width: 24px;
    position: relative;
  }

  header .navicon:before {
    top: 7px;
  }

  header .navicon:after {
    top: -7px;
  }

  header .navicon:before,
  header .navicon:after {
    background-color: var(--burnt-orange8);
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }

  header > nav.menu {
    width: 100vw;
    grid-area: nav;
    max-width: unset;
    height: auto;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
  }

  header > nav.menu > ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
  }

  header > nav.menu > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  header > nav.menu > ul > li > a {
    line-height: 100%;
  }

  header > nav.menu > ul > li > a > span {
    margin: 0.3em 0.5em;
    display: inline-block;
  }

  header > .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  header > .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  header > .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  header > .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  header > .menu-btn:checked ~ .menu-icon .navicon:before,
  header > .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}

/* Footer */

footer {
  display: flex;
  padding: 1rem;
  color: var(--grey3);
}

/* Article */

article.home {
  padding: var(--page-gutter);
}

article.docs-page {
  width: 100%;
  padding: var(--page-gutter);
  min-height: 80vh;
}

article nav.between-pages {
  margin-top: 2em;
  border-top: 3px dashed black;
  padding-top: 1em;
  max-width: var(--main-content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article nav.between-pages a {
  font-size: 120%;
  text-decoration: none;
}

article nav.between-pages a:hover {
  text-decoration: underline;
}

/* GENERAL TYPOGRAPHY */

a {
  text-decoration: none;
}

/* ARTICLE TYPOGRAPHY */

article > *:first-child {
  margin-top: 0;
}

article > *:last-child {
  margin-bottom: 0;
}

article h1 {
  margin-bottom: 1.5rem;
}

article p {
  max-width: var(--main-content-width);
}

article ul,
article ol {
  max-width: calc(var(--main-content-width) * 0.8);
}

article a {
  text-decoration: underline;
}

article code {
  font-size: 1rem;
  display: inline-block;
  padding: 0 0.3rem;
  border-radius: 3px;
}

article aside {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 3px;
  max-width: calc(var(--main-content-width) * 0.9);
}

article aside > *:first-child {
  margin-top: 0;
}

article aside > *:last-child {
  margin-bottom: 0;
}

article section.hero {
  font-size: 150%;
  max-width: var(--main-content-width);
  font-style: italic;
}

/* COLOUR SECTION SPECIFIC */

article.blue1 {
  color: #eee;
}

article.blue1 h1 {
  color: var(--orange2);
}

article.blue1 h2 {
  color: var(--orange3);
}

article.blue1 h3 {
  color: var(--orange4);
}

article.blue1 h4 {
  color: var(--orange5);
}

article.blue1 strong {
  color: var(--orange6);
}

article.blue1 em {
  color: var(--grey2);
}

article.blue1 a {
  color: var(--orange4);
}

article.blue1 a:hover {
  color: var(--orange3);
}

article.blue1 code {
  background-color: var(--blue9);
}

article.blue1 ul {
  color: var(--grey2);
}

article.blue1 aside {
  background-color: var(--blue7);
  border-color: var(--blue9);
  color: var(--grey2);
}

article nav.between-pages {
  border-color: var(--burnt-orange4);
}
