{{ define "main" }}
<div class="with-side-nav">
  {{ partial "roadmap/side_nav.html" . }}

  <div class="content">
    <article class="roadmap-item-page roadmap-page on-light-blue {{ if .Params.status }}has-status status-{{ .Params.status }}{{ end }}">
      <h1 class="title collapsed-only">{{ .Title }}</h1>

      <div class="content-and-details">
        <div class="details-container">
          {{ partial "roadmap/details.html" . }}

        </div>

        <div class="content-container">
          <h1 class="title expanded-only" aria-hiden>{{ .Title }}</h1>

          {{ .Content }}
        </div>
      </div>

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

      <div class="parent-page-link">
          {{ with .Parent }}
            <a href="{{ .RelPermalink }}"><span class="back-arrow">←</span> back to {{ .Title }}</a>
          {{ end }}
        </div>
    </article>
  </div>
</div>
{{ end }}
