{{ define "main" }}
  <div class="on-light-blue">
    <div class="roadmap-page grid-paper">
      <div class="section-header">
        <h1>{{ .Title }}</h1>
        <div class="content">{{ .Content }}</div>
      </div>

      <div class="roadmap-items">
        {{ range .Pages }}
          <div class="roadmap-item-row {{ if .IsSection }}is-section{{ else }}not-section{{ end }}">
            <div class="roadmap-item-container">
              <a class="roadmap-item" href="{{ .RelPermalink }}">
                <h2>{{ .Title }}</h2>
                <p>{{ .Summary }}</p>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
