{{ define "main" }}
  <div class="on-light-blue">
    <div class="roadmap-page grid-paper">
      <div class="section-header">
        <h1>{{ .Title }}</h1>
        <div class="content">{{ .Content }}</div>
      </div>

      <div class="roadmap-items">
        <div class="roadmap-rows">
          {{ range .Pages }}
            <div class="roadmap-item-row {{ if .IsSection }}is-section{{ else }}not-section{{ end }} status-{{ .Params.status }} {{ if .Params.status }}has-status{{ end }}">
              <div class="roadmap-item-container">
                <a class="roadmap-item" href="{{ .RelPermalink }}">
                  {{ with .Params.status }}
                    <div class="status-indicator status-{{ . | lower }}">{{ . }}</div>
                  {{ end }}
                  <div class="details">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary }}</p>
                  </div>
                </a>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
