{{ define "main" }}
  <div class="centered-post on-light-blue">
    <div class="left-sidebar"><a href="/software"><span aria-hidden="true">&lt;</span> all software</a></div>
    <article class="blog-page">
      <div class="article-header">
        <h1>{{ .Title }}</h1>
        {{ partial "software/repo.html" .Params.repoURL }}
      </div>

      {{ .Content }}

      <h1>README</h1>
      {{ with .Params.readmeURL }}
        {{ with resources.GetRemote . }}
          {{ .Content | replaceRE `^#[^#][^\n]*\n?` "" | markdownify }}
        {{ else }}
          <!-- failed to fetch README -->
        {{ end }}
      {{ end }}

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </article>
    <div class="right-sidebar"></div>
  </div>
{{ end }}
