{{- $pages := site.RegularPages -}}
{{- $hasKeywords := .Get "has_keywords" -}}
{{- $excludeStatus := .Get "exclude_status" -}}
{{- if $hasKeywords -}}
  {{- $keywordList := split $hasKeywords "," -}}
  {{- $pages = where $pages "Params.keywords" "intersect" $keywordList -}}
{{- end -}}
{{- if $excludeStatus -}}
  {{- $excludeList := split $excludeStatus "," -}}
  {{- range $excludeList -}}
    {{- $pages = where $pages "Params.status" "ne" (trim . " ") -}}
  {{- end -}}
{{- end -}}

<ul class="issue-list">
  {{- range $pages }}
  <li>
    <a href="{{ .RelPermalink }}">
      <h2>{{ .Title }}</h2>
      {{- with .Params.summary }}<p>{{ . }}</p>{{ end }}
      {{- with .Params.languages }}<p><strong>Languages:</strong>
        {{- if reflect.IsSlice . }} {{ delimit . ", " }}
        {{- else }} {{ . }}{{ end -}}
      </p>{{ end }}
    </a>
  </li>
  {{- end }}
</ul>
